* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#pic {
      top: 90px;
      z-index: -1;
      width: 100%;
      height: 250px;
      position:absolute;
}
    #pic #sh{margin:0 auto;width:70%;height:250px;vertical-align:middle;position: relative;}
    #pic #sh img {text-align:center;height: 250px;width: auto;margin: 0 auto;}

line {
  width: 100%;
}

line.margin {
    height: 5px;
    width: 100%;
}
    line img{
        height: 5px;
        width: 2000px;
        background-size: cover;
    }
